#heading{

text-align: center;
color: white;
font-family: cursive;
font-size: 60px;
Padding: 50px;
Border: 1px solid black;
background-color: #4b6cb7;
background-color: #182848;
border-radius: 25px;

}

#body{

border: 1px solid black;
background-color: #993380;
padding: 200px;
border-radius: 25px;


}

#Defintion{

height:20px;
width:200px;

}

#search{
color: white;
background-color: blue;
cursor: pointer;
display: inline-block;
}


#All{
color: white;
background-color: blue;
cursor: pointer;
display: inline-block;
}
